.btn-grad {
  background-image: linear-gradient(
    90deg,
    rgba(92, 77, 244, 1) 0%,
    rgba(0, 172, 255, 1) 100%
  );
  color: black;
  transition: 1s ease-in;
}
.btn-grad:hover {
  transform: translateY(-5px);
}

.shad-white {
  box-shadow: 2px 2px 5px 1px #1c352e;
}

.note-container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding: 15px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  overflow: scroll;
  border: 0px;
}

.meow {
  background-image: linear-gradient(
    to right bottom,
    #02040b,
    #0d1218,
    #131b22,
    #16242c,
    #192d36,
    #182d35,
    #172e34,
    #172e33,
    #132528,
    #101d1e,
    #0a1515,
    #010908
  );
}